<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_HOME" value="${LOG_HOME:-./logs}"/>
  <property name="FILE_LOG_LEVEL" value="INFO"/>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}) batch=%X{batchId:-na} batchName=%X{batchName:-na} device=%X{deviceId:-na} deviceName=%X{deviceName:-na} ip=%X{deviceIp:-na} type=%X{taskType:-na} step=%X{step:-na} status=%X{status:-na} phase=%X{phase:-na} action=%X{action:-na}: %msg%n%throwable</Pattern>
    </layout>
  </appender>

  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_HOME}/device-maintenance.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} trace=%X{traceId:-na} task=%X{taskId:-na} batch=%X{batchId:-na} batchName=%X{batchName:-na} workflow=%X{workflowId:-na} device=%X{deviceId:-na} deviceName=%X{deviceName:-na} ip=%X{deviceIp:-na} type=%X{taskType:-na} step=%X{step:-na} status=%X{status:-na} phase=%X{phase:-na} action=%X{action:-na} - %msg%n%throwable</Pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/device-maintenance-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>10</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <root level="info">
    <appender-ref ref="RollingFile"/>
<!--    <appender-ref ref="Console"/>-->
  </root>

  <logger name="devicemaintenance" level="INFO" additivity="false">
    <appender-ref ref="RollingFile"/>
  </logger>

  <logger name="org.springframework.we" level="error" additivity="false">
    <appender-ref ref="RollingFile"/>
  </logger>

  <logger name="org.mongodb.driver" level="OFF" additivity="false"/>

</configuration>


